@model IEnumerable<PI2022.Models.References>

@{
    ViewData["Title"] = "Referentna oprema";
}

<h1>Referentna oprema</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj novu referentnu opremu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Naziv
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Opis
            </th>
            <th>
                Dobavljač
            </th>
            <th>
                Cijena referentne opreme
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dobavljac)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaReferentneOpreme) KM
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
