@model IEnumerable<PI2022.Models.References>

@{
    ViewData["Title"] = "Referentna oprema";
}
 @if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac") || User.IsInRole("zaposlenik")){
<h1 class="d-flex justify-content-center py-3 fw-bold">REFERENTNA OPREMA</h1>
 @if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac")){
<a class="btn btn-primary fw-bold px-3" asp-action="Create" style="color:white">Dodaj Novu Referentnu Opremu</a>
 }
<table class="table table-hover table-bordered border-secondary mt-4">
    <thead style="background-color: #45526e; color: white;">
        <tr>
            <th>
               Naziv
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Opis
            </th>
            <th>
                Dobavljač
            </th>
            <th>
                Cijena Referentne Opreme
            </th>
            @if (User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac"))
                {
                    <th>Opcije</th>
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dobavljac)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaReferentneOpreme) KM
            </td>
            @if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac")){
            <td>
                <a class="btn btn-sm btn-warning fw-bold" style="color: white;" asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a class="btn btn-sm btn-info fw-bold" style="color: white;" asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a class="btn btn-sm btn-danger fw-bold" style="color: white;" asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>}
        </tr>
}
    </tbody>
</table>
}