@model IEnumerable<PI2022.Models.Offers>

@{
    ViewData["Title"] = "Ponude";
}

<h1>Ponude poslova</h1>

<form asp-controller="Offers" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Naziv ponude"/>
        <input class="btn btn-primary" type="submit" value="Pretraži" />
    </p>
</form>

<button class="btn btn-primary">
    <a asp-action="Create" style="color:white">Dodaj novu ponudu</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Opis posla
            </th>
            <th>
                Broj osoba
            </th>
            <th>
                Broj sati
            </th>
            <th>
                Cijena po satu
            </th>
            <th>
                Potrebna oprema
            </th>
            <th>
                Početak radova
            </th>
            <th>
                Završetak radova
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisPosla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojOsoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaSata) KM/h
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotrebnaOprema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PocetakRadova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZavrsetakRadova)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Jobs" asp-action="CreateFromOffer" asp-route-Id="@item.Id">Prihvati posao</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
