@model PI2022.Models.Equipment

@{
    ViewData["Title"] = "Obriši opremu";
}

<h3>Jeste li sigurni da želite ukloniti ovu opremu?</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Naziv
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class="col-sm-2">
            Kategorija
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt class="col-sm-2">
            Proizvođač
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proizvodac)
        </dd>
        <dt class="col-sm-2">
            Dobavljač
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dobavljac)
        </dd>
        <dt class="col-sm-2">
            Datum kupnje
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumKupnje)
        </dd>
        <dt class = "col-sm-2">
            Količina
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina)
        </dd>
        <dt class = "col-sm-2">
            Nabavna cijena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NabavnaCijena) KM
        </dd>
        <dt class="col-sm-2">
            Cijena dostave
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CijenaDostave) KM
        </dd>
        <dt class="col-sm-2">
            Referentna cijena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferentnaCijena) KM
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag na popis</a>
    </form>
</div>
