@model PI2022.Models.Equipment

@{
    ViewData["Title"] = "Detalji";
}
@if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac") || User.IsInRole("zaposlenik")){
<h1 class="d-flex justify-content-center py-3 fw-bold">DETALJI OPREME</h1>

<div>
    <hr />
    <dl class="row ms-4">
        <dt class = "col-sm-2">
            Naziv:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class="col-sm-2">
            Kategorija:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt class="col-sm-2">
            Proizvođač:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proizvodac)
        </dd>
        <dt class="col-sm-2">
            Dobavljač:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dobavljac)
        </dd>
        <dt class="col-sm-2">
            Datum kupnje:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumKupnje)
        </dd>
        <dt class = "col-sm-2">
            Količina:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina)
        </dd>
        <dt class = "col-sm-2">
            Nabavna cijena:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CijenaDostave) KM
        </dd>
        <dt class="col-sm-2">
            Cijena dostave:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CijenaDostave) KM
        </dd>
        <dt class="col-sm-2">
            Referentna cijena:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReferentnaCijena) KM
        </dd>
    </dl>
</div>
<hr />
<div>
    <div class="btn-toolbar justify-content-between my-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a style="color: white;" class="btn btn-warning fw-bold" asp-action="Edit" asp-route-id="@Model?.Id">Promijeni Podatke</a>
        </div>
        <div class="input-group">
            <a class="btn btn-danger fw-bold" asp-action="Index">&#11178; Natrag na Popis</a>
        </div>
    </div>
</div>
<hr />
}