@model IEnumerable<PI2022.Models.Equipment>

@{
    ViewData["Title"] = "Oprema";
}

<h1>Oprema</h1>

<form asp-controller="Equipments" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Naziv opreme"/>
        <input class="btn btn-primary" type="submit" value="Pretraži" />
    </p>
</form>

<button class="btn btn-primary">
    <a asp-action="Create" style="color:white">Dodaj opremu</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Proizvođač
            </th>
            <th>
                Dobavljač
            </th>
            <th>
                Datum kupnje
            </th>
            <th>
                Količina
            </th>
            <th>
                Nabavna cijena
            </th>
            <th>
                Cijena dostave
            </th>
            <th>
                Naziv referentne opreme
            </th>
            <th>
                Cijena referentne opreme
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dobavljac)
            </td>
            <td>
                @Html.Raw(DateOnly.FromDateTime(item.DatumKupnje))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NabavnaCijena) KM
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaDostave) KM
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivReferentneOpreme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CijenaReferentneOpreme)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
