@model IEnumerable<PI2022.Models.Equipment>

@{
    ViewData["Title"] = "Oprema";
}

<h1>Oprema</h1>

<button class="btn btn-primary">
    <a asp-action="Create" style="color:white">Dodaj opremu</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Količina
            </th>
            <th>
                Datum kupnje
            </th>
            <th>
                Nabavna cijena
            </th>
            <th>
                Proizvođač
            </th>
            <th>
                Dobavljač
            </th>
            <th>
                Potrošenost
            </th>
            <th>
                Potreban servis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKupnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NabavnaCijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dobavljac)
            </td>
            @if(item.Potrosnja >= 100)
            {
                <td style="color:darkred">Oprema uništena</td>
            }
            else
            {
                <td>@Html.DisplayFor(modelItem => item.Potrosnja) %</td>
            }
            @if(item.PotrebanServis == true)
            {
                <td style="color:darkred">Da</td>
            }
            else
            {
                <td style="color:darkgreen">Ne</td>    
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
