@model IEnumerable<PI2022.Models.Equipment>

@{
    ViewData["Title"] = "Oprema";
}
@if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac") || User.IsInRole("zaposlenik")){
<h1 class="d-flex justify-content-center py-3 fw-bold">OPREMA</h1>

<form asp-controller="Equipments" asp-action="Index" method="get">
    <p>
        <input class="form-control-2" type="text" name="SearchString" placeholder="Naziv opreme..."/>
        <input class="btn btn-primary ms-2 mb-1 px-3 fw-bold" type="submit" value="Pretraži" />
    </p>
</form>

<a class="btn btn-primary fw-bold px-3" asp-action="Create" style="color:white">Dodaj Opremu</a>

<table class="table table-hover table-bordered border-secondary mt-4">
    <thead style="background-color: #45526e; color: white;">
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Kategorija
            </th>
            <th>
                Proizvođač
            </th>
            <th>
                Dobavljač
            </th>
            <th>
                Datum Kupnje
            </th>
            <th>
                Količina
            </th>
            <th>
                Nabavna Cijena
            </th>
            <th>
                Cijena Dostave
            </th>
            <th>
               Cijena Referentne Opreme
            </th>
            <th>Opcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dobavljac)
            </td>
            <td>
                @Html.Raw(DateOnly.FromDateTime(item.DatumKupnje))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NabavnaCijena) KM
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaDostave) KM
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferentnaCijena) KM
            </td>
            <td>
                <div class="d-flex justify-content-end">
                     <a class="btn btn-sm btn-warning fw-bold me-1" style="color: white;" asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                     <a class="btn btn-sm btn-info fw-bold mx-1" style="color: white;" asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                     <a class="btn btn-sm btn-danger fw-bold ms-1" style="color: white;" asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
}