@model IEnumerable<PI2022.Models.Equipment>

@{
    ViewData["Title"] = "Oprema";
}

<h1>Oprema</h1>

<button class="btn btn-primary">
    <a asp-action="Create" style="color:white">Dodaj opremu</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Količina
            </th>
            <th>
                Datum kupnje
            </th>
            <th>
                Opis
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKupnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
