@model IEnumerable<PI2022.Models.Jobs>

@{
    ViewData["Title"] = "Poslovi";
}

<h1>Poslovi</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj novi posao</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Opis posla
            </th>
            <th>
                Broj osoba
            </th>
            <th>
                Broj sati
            </th>
            <th>
                Cijena sata
            </th>
            <th>
                Potrebna oprema
            </th>
            <th>
                Početak radova
            </th>
            <th>
                Završetak radova
            </th>
            <th>
                Zaposlenici
            </th>
            <th>
                Trošak
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpisPosla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojOsoba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaSata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotrebnaOprema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PocetakRadova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZavrsetakRadova)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposlenici)
            </td>
            <td>
                @Html.Raw(item.CijenaSata * item.BrojOsoba * item.BrojSati) KM
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
