@model PI2022.Models.UsersModel

@{
    ViewData["Title"] = "Brisanje korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Brisanje korisnika</h1>

<h3>Jeste li sigurni da želite obrisati korisnika?</h3>
</hr>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozicija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozicija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certifikati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certifikati)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag na popis</a>
    </form>
</div>
