@model IEnumerable<PI2022.Models.Users>

@{
    ViewData["Title"] = "Korisnici";
}

<h1>Korisnici</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Korisničko ime
            </th>
            <th>
                Email
            </th>
            <th>
                Broj telefona
            </th>
            <th>
                Uloga
            </th>
            <th>
                Opcije
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @string.Join(", ", item.Roles.ToList())
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Manage" asp-route-userId="@item.UserId">Uredi uloge</a>
            </td>
        </tr>
}
    </tbody>
</table>

