@model IEnumerable<PI2022.Models.Bidding>

@{
    ViewData["Title"] = "Natječaji";
}
@if(User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac") || User.IsInRole("zaposlenik")){
<h1 class="d-flex justify-content-center py-3 fw-bold">NATJEČAJI</h1>

<a class="btn btn-primary fw-bold px-3" asp-action="Create" style="color:white">Dodaj Novi Natječaj</a>

<table class="table table-hover table-bordered border-secondary mt-4">
    <thead style="background-color: #45526e; color: white;">
        <tr>
            <th>
                Naziv Natječaja
            </th>
            <th>
                Opis Posla
            </th>
            <th>
               Procijenjena Vrijednost
            </th>
            <th>
                Trajanje Natječaja
            </th>
            <th>
                Objavljen
            </th>
            <th>
               Dobitnik Natječaja
            </th>
            @if (User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac"))
                {
                    <th>Opcije</th>
                }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcijenjenaVrijednost) KM
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.Raw(DateOnly.FromDateTime(item.Objavljen))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dobitnik)
            </td>
             @if (User.IsInRole("administrator") || User.IsInRole("vlasnik") || User.IsInRole("poslodavac")){
            <td>
                <a class="btn btn-sm btn-warning fw-bold" style="color: white;" asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a class="btn btn-sm btn-info fw-bold" style="color: white;" asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a class="btn btn-sm btn-danger fw-bold" style="color: white;" asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>}
        </tr>
}
    </tbody>
</table>
}